---
import Footer from "./components/Footer/Footer.astro";
import Nav from "./components/Nav/Nav.astro";
import { webLanguages } from "./i18n/languages";
import { getLangFromUrl } from "./i18n/utils";

type Props = {
    title: string;
};

const lang = getLangFromUrl(Astro.url);
const langCode = lang.code;

const props = Astro.props;

const botName = import.meta.env.PUBLIC_BOT_NAME;
const baseUrl = import.meta.env.PUBLIC_BASE_URL;
const isDev = import.meta.env.DEV;

const pageTitle = props.title === "" ? botName : `${props.title} | ${botName}`;

const relativeLogoUrl = isDev ? `/assets/epicfreegames-notprod.webp` : `/assets/epicfreegames.webp`;

const desc =
    "A customizable and easy-to-setup Discord bot focused around notifying about free games. Apart from notifying, it also provides your server some cool commands!";

const pathname = Astro.url.pathname;
const isHome = pathname === "/";
---

<html lang={langCode}>
    <head>
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <base href={baseUrl} />

        <link rel="icon" type="image/webp" href={relativeLogoUrl} />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content={botName} />
        <meta name="twitter:description" content={desc} />

        <meta property="og:title" content={botName} />
        <meta property="og:description" content={desc} />

        <meta property="og:image" content={`${baseUrl}${relativeLogoUrl}`} />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="180" />
        <meta property="og:image:height" content="180" />
        <meta property="og:image:alt" content="EpicFreeGames logo" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content={baseUrl} />

        <meta property="og:site_name" content={botName} />

        <meta name="description" content={desc} />
        <meta
            name="keywords"
            content="discord, bot, free, games, epic, store, giveaway, notify, notification, epicfreegames"
        />

        {
            isDev ? (
                <meta name="robots" content="index, follow" />
            ) : (
                <meta name="robots" content="noindex" />
            )
        }

        <link rel="alternate" hreflang="x-default" href={`${baseUrl}${!isHome ? pathname : ""}`} />

        {
            webLanguages.map((l) => (
                <link
                    rel="alternate"
                    hreflang={l.code}
                    href={
                        l.code === "en"
                            ? `${baseUrl}${!isHome ? pathname : ""}`
                            : `${baseUrl}/${l.code}${!isHome ? pathname : ""}`
                    }
                />
            ))
        }
    </head>

    <body
        class="bg-gray-950 text-slate-50 flex flex-col"
        style="-webkit-font-smoothing: antialiazed; -webkit-tap-highlight-color: transparent;"
    >
        <Nav />

        <main class="mx-auto mt-[6rem] w-full max-w-screen-sm px-3 sm:mt-[9rem]">
            <slot />
        </main>

        <Footer />
    </body>
</html>
